---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Izzi's Blog">
    <section class="features">
        <div class="card-container">
            {
                posts.map((post) => (
                    <Card>
                        <h3>{post.frontmatter.title}</h3>
                        <div>
                            <strong>
                                {post.frontmatter.author} on{" "}
                                {new Date(
                                    post.frontmatter.date
                                ).toLocaleDateString()}
                            </strong>
                        </div>
                        <p>{post.frontmatter.excerpt}</p>
                        <div>
                            <a class="btn" href={`/${post.frontmatter.slug}`}>
                                Read More
                            </a>
                        </div>
                    </Card>
                ))
            }
        </div>
    </section>
</Layout>
<style>
    p {
        padding-left: 2rem;
        text-decoration: none;
        color: aliceblue;
    }

    a {
        text-decoration: none;
        color: aliceblue;
    }
    .features .card-container {
        border: rgb(119, 156, 49) 0px solid;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-gap: 20px;
        padding: 0 20px;
        margin: 30px auto;
        color: rgb(146, 146, 146);
    }

    @media (max-width: 500px) {
        .features .card-container {
            grid-template-columns: 1fr;
        }
    }
</style>
