---
import background from "../images/bg.svg";
import character from "../images/hero-character_default.svg";

export interface Props {
    heading?: string;
    subheading?: string;
    bodycopy?: string;
    showExtra?: boolean;
}

const {
    heading = "Hi, I am Izzi",
    subheading = "I design software.",
    bodycopy = "I am a Solutions Architect with a focus on Front-end Technology and Design. I help teams to design and build future-friendly products that customers love.",
    showExtra = false,
} = Astro.props as Props;
---

<div class="hero">
    <div class="main-story">
        <!-- main story must get padding etc. -->
        <!-- main story card goes here -->
        <h1>{heading}</h1>
        <h2>{subheading}</h2>
        <p>
            {bodycopy}
        </p>
    </div>
    <div class="character">
        <!-- character drawing goes here -->
        <img src={character} alt="Izmargad The Badger" />
    </div>
</div>
