---
import Card from "./Card.astro";

const featuresData = [
  {
    title: "Doodles Matter",
    body: " Simpler is often better. If we can understand an idea on a paper napkin, we can certainly figure it out in code. Doodles don't cost anything, so we use them to explore and experiment.",
  },
  {
    title: "Drawn to perfection",
    body: " We carefully vet and cross-check our solutions at every step of the process, from rough doodles to more polished drawings and well-defined concepts. We ensure that we map out the journey we take.",
  },
  {
    title: "Words have Power",
    body: "Just as code shape the world around us, our words shape our thoughts, our actions, and our world. We take care to craft our words with care and precision.",
  },
];
---

<section class="features">
  <div class="card-container">
    {
      featuresData.map((feature) => (
        <Card>
          <h2>{feature.title}</h2>
          <p>{feature.body}</p>
        </Card>
      ))
    }
  </div>
</section>

<style>
  .features .card-container {
    border: rgb(242, 221, 242) solid 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    justify-content: center;
    padding: 0 1.5rem 0 1.5rem;
    margin: 2rem auto 0 0;
    color: #000;
  }

  @media (max-width: 500px) {
    .features .card-container {
      grid-template-columns: 1fr;
    }
  }
</style>
