---
import linkedIn from "../images/linkedin-logo.svg";
import github from "../images/logo-github-circle.svg";
import izziInkLogo from "../images/footer-logo.svg";
---

<!-- footer -->
<div class="container-footer" id="contact">
    <footer>
        <ul class="container-footer ul">
            <li>
                <a href="https://github.com/izzi-ink" target="_blank"
                    ><img
                        src={github}
                        width="48"
                        height="48"
                        alt="Izzi Ink on GitHub"
                    /></a
                >
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/ilzekoning/"
                    target="_blank"
                    ><img
                        src={linkedIn}
                        width="48"
                        height="48"
                        alt="Izzi Ink on LinkedIn"
                    /></a
                >
            </li>
        </ul>
        <ul class="container-footer ul">
            <li>Izzi Ink &middot; Solutions Architecture and Design</li>
            <li>
                <img src={izziInkLogo} />
            </li>
            <li>
                &#169 2023 A Member of the Houtvollop Group. All Rights
                Reserved.
            </li>
        </ul>
    </footer>
</div>
