<!-- HTML Meta Tags -->
<title>Izzi Ink Astronaut</title>
<meta
    name="description"
    content="I am a Solutions Architect with a focus on Front-end Technology and Design. I help teams to design and build future-friendly products that customers love."
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://izzi.ink/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Izzi Ink Astronaut " />
<meta
    property="og:description"
    content="I am a Solutions Architect with a focus on Front-end Technology and Design. I help teams to design and build future-friendly products that customers love."
/>
<meta property="og:image" content="izzi-ink-preview" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="izzi.ink" />
<meta property="twitter:url" content="https://izzi.ink/" />
<meta name="twitter:title" content="Izzi Ink Astronaut " />
<meta
    name="twitter:description"
    content="I am a Solutions Architect with a focus on Front-end Technology and Design. I help teams to design and build future-friendly products that customers love."
/>
<meta name="twitter:image" content="./assets/izzi-ink-preview" />

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
